/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.MoveablePane {
	-fx-border-color: black ;
	-fx-border-style: solid ;
	-fx-border-width: 2px;
} 

.NumberField {
	-fx-font-family: monospace;
} 